body {
  background-color: rgb(244,244,244);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  margin: 24px auto 0 auto;
  width: 64%;
  max-width: 800px;
}

.bio p:first-of-type, .networks p:first-of-type {
  margin-top: 1em;
}

.bio header {
  display: grid;
  grid-template-columns: min-content 1fr;

  padding: 0 0 1em;

  border-bottom: 1px solid rgb(0,0,0,0.18)
}

.bio .avatar {
  height: 4em;
  margin-right: 1.2em;
  margin-top: 1.2em;

  border-radius: 50%;
}

.bio .whoami h1 {
  margin-bottom: 0.2em;
}

.networks {
  border-top: 1px solid rgb(0,0,0, 0.19)
}

.networks > * {
  display: inherit;
  padding-bottom: 6px;
}

.networks a {
  color: rgba(48, 48, 48, 0.8);
}

.networks a:hover {
  color: rgba(64, 64, 64, 0.4);
}

/* responsive breakpoints */
@media screen and (max-width: 1024px) {
  .container {
    width: 72%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 96%;
  }

  .avatar {
    display: none;
  }

  .bio header {
    grid-template-columns: inherit;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}
