html {
  scroll-behavior: smooth;
}

body {
  background-color: #e0e0e0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* fix header covering content when using url fragments */
  scroll-padding-top: 64px;
}
.container {
  margin: 0 auto;
  padding-bottom: 96px;
  width: 64%;
}

.header {
  padding: 0.4em;
  position: sticky;
  top: 0;
  width: 100%;

  background-color: #e0e0e0;
  box-shadow: #e0e0e0 -5px 0px 0px 0;
}

.header nav ul {
  display: flex;
  flex-direction: row;

  padding-left: 0;
  width: 100%;
  
  list-style: none;
}

.header nav ul li {
  margin-right: 1em;
}

.header a {
  color: rgb(128,128,128);
  text-decoration: none;
}

.header a:hover, .header a:active, .header a.active {
  color: rgb(0,0,0);
}

.content a:visited {
  color: inherit;
}


/* card generic */
.card {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;

  padding: 1em;
  margin: 1em auto 2em;

  background-color: #333;
  color: #eee;

  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}

.card header {
  display: flex;
  width: 100%;

  border-bottom: solid 1px #fff;
}

.bio p:first-of-type {
  margin-top: 1em;
}

.card p {
  margin-bottom: 0.5em;

  line-height: 1.4em;
}

/* specific cards */
.bio header {
  padding: 0 0 1em;
}

.bio .avatar {
  height: 7em;
  margin-right: 1em;

  border-radius: 50%;
}

.bio .whoami h1 {
  margin-bottom: .2em;
}

.bio .whoami .location i {
  padding: 0 .4em 0 0;
}

.bio .links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;

  list-style: none;
}

.bio .links li {
  padding: 0 .6em;
}

.bio .links a {
  font-size: 2em;
  color: #fff;
  text-decoration: none;
}

.bio .links a:hover {
  color: rgba(255,255,255,.7);
  cursor: pointer;
}

.work {
  flex-flow: column;
}

.work h3 {
  margin-bottom: .4em;
}

.work p {
  margin-top: 0;
}

.work a, .hobbies a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.work a:hover, .hobbies a:hover {
  color: rgba(255,255,255,.7);
}

footer {
  margin-top: 96px;

  color: rgb(128,128,128);
  text-align: center;
}

/* responsive breakpoints */
@media screen and (max-width: 1024px) {
  .container {
    width: 72%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 96%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
  /*.links {
    margin-left: 80%;
  }*/
}

@media screen and (max-width: 400px){
  .avatar {
    display: none;
  }
  #card header{
    margin-left: 0;
  }
  /*.links {
    margin-left: 70%;
  }*/
}
