/*
  BODY - For general stuff that applies across all pages
*/

html{
  background-color: #e0e0e0;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  @include vendor(font-feature-settings, 'kern' 1); 
  @include vendor(font-feature-settings, 'liga' 1); 

  a{
    text-decoration: none;
    color: #000;
    @include vendor(transition, color .25s ease-in 0s);
    &:hover{
      color: rgba(0,0,0,.5);
    }
  }
  .containment{
    max-width: 80*$base-spacing-unit; //1440px
    margin:0 auto;
    .content a{
      font-weight: 600;
    }
    .mail:hover{
      cursor: pointer;
    }
  }
}
.night{
  background-color: #000;
  color: #e0e0e0;
  a{
    color: #e0e0e0;
    &:hover{
      color: rgba(224,224,224,.5);
    }
  }
}

.fadeOut{
          @include vendor(animation, 1s fadeOut forwards);
}
.fadeIn{
          @include vendor(animation, 1s fadeIn forwards);
}

/*
  BODY - For general stuff that applies across all pages
*/

html{
  background-color: #e0e0e0;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  @include vendor(font-feature-settings, 'kern' 1); 
  @include vendor(font-feature-settings, 'liga' 1); 

  a{
    text-decoration: none;
    color: #000;
    @include vendor(transition, color .25s ease-in 0s);
    &:hover{
      color: rgba(0,0,0,.5);
    }
  }
  .containment{
    max-width: 80*$base-spacing-unit; //1440px
    margin:0 auto;
    .content a{
      font-weight: 600;
    }
    .mail:hover{
      cursor: pointer;
    }
  }
}
.night{
  background-color: #000;
  color: #e0e0e0;
  a{
    color: #e0e0e0;
    &:hover{
      color: rgba(224,224,224,.5);
    }
  }
}

.load-out .content{
          @include vendor(animation, 1s fadeOut forwards);
}
.load-in .content{
          @include vendor(animation, 1s fadeIn forwards);
}

//For some reason the include keyframes mixin hasn't been working so here's that written out*=

@-webkit-keyframes fadeOut{
  from{
    opacity: 1;
  } to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut{
  from{
    opacity: 1;
  } to {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut{
  from{
    opacity: 1;
  } to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut{
  from{
    opacity: 1;
  } to {
    opacity: 0;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  } to {
    opacity: 0;
  }
}


@-webkit-keyframes fadeIn{
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn{
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn{
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn{
  from{
    opacity:  0;
  } to {
    opacity: 1;
  }
}
@keyframes fadeIn{
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}

/*@include keyframe(fadeOut){
  from{
    opacity:: 1;
  }
  to{
    opacity:: 0;
  }
}
@include keyframe(fadeIn){
  from{
    opacity:: 0;
  }
  to{
    opacity:: 1;
  }
}*/




/*@include keyframe(fadeOut){
  from{
    opacity:: 1;
  }
  to{
    opacity:: 0;
  }
}
@include keyframe(fadeIn){
  from{
    opacity:: 0;
  }
  to{
    opacity:: 1;
  }
}*/


