<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    
    <title>Avery Alexander Rawden</title>
    
    <link rel="stylesheet" href="css/0x7j.min.css">
</head>
<body>
<div class="containment one-whole grid">
  <header class="grid__item one-whole">
    <a class="logo" title="Avery Alexander Rawden - Home" href="#"></a>
    <nav class="one-half portable-one-whole">
      <ul class="nav">
        <li><a title="Blag" href="#">Writing</a></li>
        <li><a title="Lab" href="#">Lab</a></li>
        <li><a title="Who?" href="#">Who?</a></li>
      </ul>
    </nav>
  </header>
  <div class="content grid__item desk-three-fourths portable-one-whole">
  {content}
  </div>
</div>    
</body>
</html>
