<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    
    <title>{% if page.title %}{{ page.title }} | {% endif %}Avery Alexander Rawden</title>
    
    <link rel="stylesheet" href="/css/0x7j.min.css" />
</head>
<body class="{{page.class}}">
<div class="containment one-whole grid">
  <header class="grid__item one-whole">
    <a class="logo grid__item one-half portable-one-whole" title="Avery Alexander Rawden - Home" href="/">Avery Alexander Rawden</a>
    <nav class="linkerino one-third portable-one-whole">
      <ul class="nav portable-one-whole">
        <li class="portable-three-tenths"><a title="Blog" href="/blog/">Blog</a></li>
        <li class="portable-three-tenths"><a title="Experiments" href="/lab/">Lab</a></li>
        <li class="portable-three-tenths"><a title="Who?" href="/about/">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="content grid__item">
    {{ content }}
  </div>
</div>    
<a class="fa toggle" onclick="lightswitch()"></a>
</body>
<script async src="/js/modernizr.js"></script>
<script async src="/js/0x7j.min.js"></script>
</html>
